.Portfolio-form{

    background-color: white;
    border: 1px solid;
    border-radius: 10px;
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
	margin: 10px;
	padding: 10px;
	

}
a{
	font-size: 10px;
}
.PortfolioForm-text{
	
}
.Portfolio-form-ticker-input{
	width: 60px;
	background-color: white;
	border-radius: 5px;
	
}

.Portfolio-form-quantity-input{
	width: 90px;

	border-radius: 5px;
	background-color: white;
}
.Portfolio-form-priceBoughtAt-input{
	width: 90px;

	border-radius: 5px;
	background-color: white;
}
form{
	text-align: center;
	display: inline-block;
	
	
}
#title{
	text-align: center;
	
}
.Portfolio-form-submit {
	box-shadow:inset 0px 1px 0px 0px #fc8d83;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	height: 25px;
	margin: 10px;
	display: block;
	align-content: center;
	position: relative;
	margin-left: 40px;

}
.Portfolio-form-submit:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.Portfolio-form-submit:active {
	position:relative;
	top:1px;
}