.Portfolio{
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color:#fc8d84;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 6px 4px 41px -3px rgba(0,0,0,0.75);
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;

}
 
h3{
    text-align: center;
}
.Portfolio-total{
    background-color: rgb(21, 172, 21);
    margin: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 5px;

}
